/**
* File created for rybw
*/

.stepperElement{ 
    display: inline-flex !important; 
    align-items: center;
}

.stepperCircle{    
    background-color: #3f51b5;   
    margin: 1em !important;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.stepperCircleText{  
    color: white
}