.rybwApp-TextField{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.rybwApp-th{
    vertical-align: middle !important;
}

.rybwApp-profile-intro {
    width: 65%;
    margin-top: 3%;
    overflow-x: auto;
    white-space: nowrap;
    word-wrap: break-word;
    
    @media screen and (max-width: 575px) {
        width: 100%;
        white-space: nowrap;
        word-wrap: break-word;
        order: 1;
    }


    background-color: $white;
    @include border-radius($border-radius !important);
    overflow: hidden;
  
    &:hover {
      @include box-shadow($shadow-lg);
      & .avatar-circle {
        @include transition(border-radius 0.4s ease 0.1s);
        @include border-radius(25% !important);
      }
    }
  
    img.avatar-circle {
        margin: 5% !important;
      display: inline-block;
      @extend %size-120;
      @include border-radius(50% !important);
      @include box-shadow($shadow);
      position: relative;
      margin: 0 auto;
    //   -webkit-transform: translateY(50px);
    //   -ms-transform: translateY(50px);
    //   transform: translateY(50px);
      @include transition(all 0.4s ease-in-out);
      z-index: 1;
    }
  }
  
  .rybwApp-profile-intro {
    & .card-image {
      position: relative;
      width: 100%;
      min-height: 100%;      
      background-color: #3f51b5;
    //   @include background('https://via.placeholder.com/1920x1072', center center);
    }
    & .pi-content {
      padding: 70px 40px 24px !important;
    }
  
    & .pi-footer {
      padding: 0 40px 24px !important;
    }
    & .icon {
      display: inline-block;
      @include transition(all 0.2s ease 0s);
      color: theme-color("primary");
  
      &:hover,
      &:focus,
      &:active {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  
    & .icon:not(:last-child) {
      margin-right: 10px;
    }
  }
 
  //Table Styles
  .rybwApp-table-root {
    width: 100%;
    overflow: auto;
  }

  .rybwApp-table{
      min-width: 700;
  }

  .rybwApp-row {
    &:nth-of-type(odd) {
        background:rgb(162, 209, 250);
    }
  }

  .rybwApp-tableCell {
    //   align-content: center;
      text-align: center !important;
  }

//   CardMedia Styles
.rybwApp-media {
    height: 0;
    padding-top: 120%;    
}

//buttons
.rybwApp-redButton {
    background-color: red !important;
    color: white !important;
}
.rybwApp-redButton:hover {
    background-color: #F44336 !important;
}


//back window designer styles
.rybwApp-textarea-card {
    width: 100%;    
    padding: 5px 5px 0px 5px;
}

.rybwApp-textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin: 0px;
}

.rybwApp-textarea::placeholder{   
    font-size: 14px;
}

//loader Style - next to button
.loader-backWindow-designer {
    // position: absolute;
    // margin: auto;
    // margin: 50%;
     margin-left: 50%;
    z-index: 1;
}

//CAMPAIGN SUMMARY Styles 
.rybwApp-summary-paper {
    width: 60%;
    margin-bottom: 2%;
    padding: 2%;
}

.rybwApp-media-summary {
    height: 0;
    padding-top: 80%;      
}

.rybwApp-artworkPreview-summary {
    height: 0;
    padding-top: 150%;      
}

.rybwApp-border {
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 0;
    // border-bottom: #3294e2 solid;
    border-top: #3294e2 solid;    
}

//Typography

.rybwApp-margin-text {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.rybwApp-no-margin-text {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.rybwApp-bold-text {
    font-weight: bold;
}

.rybwApp-center-text {
    text-align: center;
}

.rybwApp-large-text{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
