/**
* File created for rybw
*/
.rybw-app-login-container {
    position: relative;
    max-width: 850px;
    width: 94%;
    margin: 0 auto;

    & .loader-view {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 0;
        bottom: 0;
        z-index: 2;
    }
}

.rybw-app-logo-content {
    background-color: $app-primary;
    padding: 35px 35px 20px;
    width: 30%;
    order: 2;

    @media screen and (max-width: 575px) {
        width: 100%;
        order: 1;
    }
}

.rybw-app-login-content {
    padding: 35px 35px 20px;
    width: 70%;
    order: 1;

    @media screen and (max-width: 575px) {
        width: 100%;
        order: 2;
    }
}

.rybw-app-login-content .form-control {
    background-color: map_get($gray, lighten-4);
}

.rybw-app-login-content .btn, .login-content .jr-btn {
    padding: 10px 35px !important;
}

.rybw-forgot-password-button {
//  color:#3f51b5 !important;
 text-transform: none !important;
}

.rybw-forgot-password-modal {
    margin-top: 15%;
    width: 30%;

    @media screen and (max-width: 575px) {
        width: 100%;        
    }
 
}
